{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Willkommen in der Test-Administration!{% endblock %}

{% block main %}
    <p>Dies ist ein Demo-Projekt zur Evaluation von EasyAdmin.</p>
    <ul>
        <li>Nutze die Sidebar, um Daten zu verwalten.</li>
        <li>Teste den Sprachumschalter oben rechts.</li>
        <li>Melde dich als "Manager" an, um zu sehen, wie die Benutzer-Verwaltung verschwindet.</li>
    </ul>
{% endblock %}
